#log_canvas {
	position: absolute; top: 100px; left: 200px;
	height: 100%;width: 600px;
	overflow: scroll;
}
#logtable {
	font-family: Arial, Helvetica, sans-serif; 
}
#logtable .thead{
	font-size: 16px;
	text-decoration: underline;
	font-weight: 300;}
#logtable .td{
	margin-left: 10px;
	padding-left: 20px;
}
